@{
    ViewBag.Title = "广州白云万达希尔顿酒店";
}
<div class="pages">
        <div id="page1">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="~/images/page1.jpg" /></div>
                    <div class="swiper-slide"><img src="~/images/page2.jpg" /></div>
                    <div class="swiper-slide"><img src="~/images/page3.jpg" /></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- 如果需要滚动条 -->
                @*<div class="swiper-scrollbar"></div>*@
            </div>
            <!--第一栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <div class="items">
                    <div>
                        <img src="~/Homes/images/page1.jpg" />
                    </div>
                    <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                    <div class="item">
                        <div>
                            <br />
                            <span style="margin-left:10px;">微信购物</span><br /><br />
                            <span style="margin-left:10px;margin-top:20px;color:#808080">WeChar Mall</span>
                        </div>
                    </div>

                </div>
            </div>
<!--第二栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <a href="~/Homes/Restaurant">
                    <div class="items">
                        <div>
                            <img src="~/Homes/images/page1.jpg" />
                        </div>
                        <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                        <div class="item">
                            <div>
                                <br />
                                <span style="margin-left:10px;">餐厅美食</span><br /><br />
                                <span style="margin-left:10px;margin-top:20px;color:#808080">Gourmets</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--第三栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <a href="~/Homes/Love_Wedding">
                    <div class="items">
                        <div>
                            <img src="~/Homes/images/page1.jpg" />
                        </div>
                        <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                        <div class="item">
                            <div>
                                <br />
                                <span style="margin-left:10px;">唯爱婚宴</span><br /><br />
                                <span style="margin-left:10px;margin-top:20px;color:#808080">Hilton Weddings</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--第四栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <div class="items">
                    <div>
                        <img src="~/Homes/images/page1.jpg" />
                    </div>
                    <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                    <div class="item">
                        <div>
                            <br />
                            <span style="margin-left:10px;">会务专属</span><br /><br />
                            <span style="margin-left:10px;margin-top:20px;color:#808080">Meetings &amp; Events</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--第五栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <div class="items">
                    <div>
                        <img src="~/Homes/images/page1.jpg" />
                    </div>
                    <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                    <div class="item">
                        <div>
                            <br />
                            <span style="margin-left:10px;">客房预订</span><br /><br />
                            <span style="margin-left:10px;margin-top:20px;color:#808080">Guest Room Reservation</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--第六栏-->
            <div class="items_page">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <div class="items">
                    <div>
                        <img src="~/Homes/images/page1.jpg" />
                    </div>
                    <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                    <div class="item">
                        <div>
                            <br />
                            <span style="margin-left:10px;">休闲设施</span><br /><br />
                            <span style="margin-left:10px;margin-top:20px;color:#808080">Amenities &amp; Service</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--第七栏-->
            <div class="items_page" style="margin-bottom:60px;">
                <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
                <div class="items">
                    <div>
                        <img src="~/Homes/images/page1.jpg" />
                    </div>
                    <img src="~/Homes/images/page1.jpg" class="right" style="height: 20px; width: 20px;" />
                    <div class="item">
                        <div>
                            <br />
                            <span style="margin-left:10px;">会员中心</span><br /><br />
                            <span style="margin-left:10px;margin-top:20px;color:#808080">Membership</span>
                        </div>
                    </div>
                </div>
            </div>  
             
            </div>
        <div id="page2" style="display:none">
            2
        </div>
    <div id="page3" style="display:none">
        3
    </div>
    <div id="page4" style="display:none">
        4
    </div>
    <div id="page5" style="display:none">
        5
    </div>
 </div>
<div class="footers">
    <div style="background:#808080;height:1px;width:auto;margin:auto"></div>
    <ul class="tab">
        <li onclick="pages(1)"><img id="img1" src="~/images/home_on.png"/> <br />主页</li>
        <li onclick="pages(2)"><img id="img2" src="~/images/phone_off.png" /> <br />电话</li>
        <li onclick="pages(3)"><img id="img3" src="~/images/weixin_off.png" /> <br />微信</li>
        <li onclick="pages(4)"><img id="img4" src="~/images/ip_off.png" /> <br />地址</li>
        <li onclick="pages(5)"><img id="img5" src="~/images/share_off.png" /> <br />分享</li>
    </ul>
</div>

<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        //direction: 'vertical',
        direction:'horizontal',//水平
        loop: true,
        autoplay: 800,//自动滚动
        autoplayDisableOnInteraction: false,//用户操作后
        // 如果需要分页器
        pagination: '.swiper-pagination',
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        // 如果需要滚动条
        //scrollbar: '.swiper-scrollbar',
    })
    function pages(num) {
        var page1 = document.getElementById('page1');
        var page2= document.getElementById('page2');
        var page3 = document.getElementById('page3');
        var page4 = document.getElementById('page4');
        var page5 = document.getElementById('page5');
        var img1 = document.getElementById('img1');
        var img2 = document.getElementById('img2');
        var img3 = document.getElementById('img3');
        var img4 = document.getElementById('img4');
        var img5 = document.getElementById('img5');

        switch(num){
            case 1: page1.style.display = ""; img1.src = "images/home_on.png";
                page2.style.display = "none"; img2.src = "images/phone_off.png";
                page3.style.display = "none"; img3.src = "images/weixin_off.png";
                page4.style.display = "none"; img4.src = "images/ip_off.png";
                page5.style.display = "none"; img5.src = "images/share_off.png";
                break;
            case 2: page1.style.display = "none";
                page2.style.display = "";
                page3.style.display = "none";
                page4.style.display = "none";
                page5.style.display = "none";
                img1.src = "images/home_off.png";
                img2.src = "images/phone_on.png";
                img3.src = "images/weixin_off.png";
                img4.src = "images/ip_off.png";
                img5.src = "images/share_off.png";
                break;
            case 3: page1.style.display = "none";
                page2.style.display = "none";
                page3.style.display = "";
                page4.style.display = "none";
                page5.style.display = "none";
                img1.src = "images/home_off.png";
                img2.src = "images/phone_off.png";
                img3.src = "images/weixin_on.png";
                img4.src = "images/ip_off.png";
                img5.src = "images/share_off.png";
                break;
            case 4: page1.style.display = "none";
                page2.style.display = "none";
                page3.style.display = "none";
                page4.style.display = "";
                page5.style.display = "none";
                img1.src = "images/home_off.png";
                img2.src = "images/phone_off.png";
                img3.src = "images/weixin_off.png";
                img4.src = "images/ip_on.png";
                img5.src = "images/share_off.png";
                break;
            case 5: page1.style.display = "none";
                page2.style.display = "none";
                page3.style.display = "none";
                page4.style.display = "none";
                page5.style.display = "";
                img1.src = "images/home_off.png";
                img2.src = "images/phone_off.png";
                img3.src = "images/weixin_off.png";
                img4.src = "images/ip_off.png";
                img5.src = "images/share_on.png";
                break;
        }
    }


</script>