
@{
    ViewBag.Title = "唯爱婚宴";
}
<style type="text/css">
    a:link {
        color: #000000;
        text-decoration: none;
    }

    a:visited {
        color: #000000;
        text-decoration: none;
    }
</style>
<div style="height:60px;width:100%;top:0px;position:fixed;background:#14469f;text-align:center">
    <img onclick="back()" src="~/images/home_on.png" style="float: left; height:25px; width:25px;margin-top:auto;padding:15px;" />
    <div style="padding-top:20px"><span style="color:white;margin-left:auto;margin-right:auto;padding-right:30px;text-align:center">唯爱婚宴</span></div>
</div>

<div class="swiper-container" style="padding-top:60px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/images/page1.jpg" /></div>
        <div class="swiper-slide"><img src="~/images/page2.jpg" /></div>
        <div class="swiper-slide"><img src="~/images/page3.jpg" /></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- 如果需要滚动条 -->
    @*<div class="swiper-scrollbar"></div>*@
</div>
<div style="text-align:center;margin-top:10px;">
    <img src="~/Homes/images/page1.jpg" style="height:300px;width:95%;margin-left:auto;margin-right:auto"/>
    <div style="text-align:left;margin-top:20px;margin-left:60px;">
        婚宴场地
    </div>
</div>

<div style="text-align:center;margin-top:10px;">
    <img src="~/Homes/images/page1.jpg" style="height:300px;width:95%;margin-left:auto;margin-right:auto" />
    <div style="text-align:left;margin-top:20px;margin-left:60px;">
        婚宴套餐
    </div>
</div>

<script type="text/javascript">
    function back() {
        history.back();
    }
    var mySwiper = new Swiper('.swiper-container', {
        //direction: 'vertical',
        direction: 'horizontal',//水平
        loop: true,
        autoplay: 800,//自动滚动
        autoplayDisableOnInteraction: false,//用户操作后
        // 如果需要分页器
        pagination: '.swiper-pagination',
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        // 如果需要滚动条
        //scrollbar: '.swiper-scrollbar',
    });
</script>
